# 合约部署时设置
PRIVATE_KEY=0x...

# Counter 合约
CONTRACT_ADDRESS=0x6d8521408b803813a1A963f511C74fB96ea23bd2

# SimpleToken 合约
TOKEN_ADDRESS=0x62E3395eCFa2d18afB8F0cfbB1FA55948Dd03674

# RPC（选填，有默认值）
RPC_URL=https://ethereum-sepolia-rpc.publicnode.com

# Etherscan API key（用于验证合约）
ETHERSCAN_API_KEY=
